@namespace AuthEx.Home.Views.Home
@using Microsoft.AspNetCore.Hosting
@inject IWebHostEnvironment WebHostEnvironment
@{
    this.SetAppLayout(
        title: "Home Page",
        baseUrl: null);

    var warmupUrls = IndexModel.WarmupUrls(WebHostEnvironment);
}

<h1 class="display-4">Welcome</h1>
<p>
    Modules:
    <ul>
        @foreach (var warmupUrl in warmupUrls)
        {
            <li>@warmupUrl.Name: <span id="warmup-status-@warmupUrl.Name">checking <span class="spinner-border spinner-border-sm">&nbsp;</span></span></li>
        }
    </ul>
</p>

@section Scripts {
    <script>
        $(function () {
            // 'touch' each of the other projects to start the processes up eagerly
            @foreach (var warmupUrl in warmupUrls)
            {
                <text>
                    $.ajax({
                        url: '@warmupUrl.Url',
                        success: function () { $('#warmup-status-@warmupUrl.Name').html('running'); },
                        error: function () { $('#warmup-status-@warmupUrl.Name').html('failed'); }
                    });
                </text>
            }
        });
    </script>
}