@namespace AuthEx.Home.Views.Home
@using Microsoft.AspNetCore.Hosting
@inject IWebHostEnvironment WebHostEnvironment
@{
    this.SetAppLayout(
        title: "Page 2",
        baseUrl: null);
}

<p>
    Page 2 - secured.
</p>
