@namespace AuthEx.Home.Views.Home
@using Microsoft.AspNetCore.Hosting
@inject IWebHostEnvironment WebHostEnvironment
@{
    this.SetAppLayout(
        title: "Page 1",
        baseUrl: null);
}

<p>
    Page 1 - unsecured.
</p>
