@using System.Security.Claims 
@{
    this.SetAppLayout(
        title: "MVC - Secured",
        baseUrl: "/Mvc/");
}

<p>
    Secured page.
</p>
<p>
    User = @User?.Identity.Name
</p>
<p>
    Roles:
    <ul>
        @foreach (var claim in User?.Claims?.Where(c => c.Type == ClaimTypes.Role)?.Select(r => r.Value) ?? new string[0])
        {
            <li>@claim</li>
        }
    </ul>
</p>